/* color code */
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,800);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* List Style
   ========================================================================== */
/**
 * Remove margin & padding ul.
 */
ul {
  margin: 0;
  padding: 0; }

/**
 * Reset list style li.
 */
li {
  list-style: none; }

html {
  background: #f7f7f7; }

body {
  font: 12px "Work Sans", Georgia, Times, "Times New Roman", serif; }

img {
  vertical-align: text-bottom; }

button, input {
  outline: none; }

.no-image {
  background: url('/images/tile-no-image.jpg') 50% 50% no-repeat;
  background-size: cover;
  position: relative; }
  .no-image i {
    display: none;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
  a[disabled] {
    cursor: default; }

a.classy {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

[ng-cloak] {
  display: none; }

/* button variation */
.keepo-btn {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  text-align: center; }

/* Default */
.default-btn01 {
  background: #00bac6;
  color: #fff; }

.default-btn01:hover {
  background: #09cfdc; }

.default-btn01:active {
  background: #099ca5; }

.default-btn02 {
  background: #fff;
  border: 1px solid #00bac6;
  color: #00bac6; }

.default-btn02:hover {
  background: #00bac6;
  color: #fff;
  border-color: transparent; }

.default-btn02:active {
  background: #00bac6;
  color: #fff;
  border-color: transparent; }

/* Light */
.light-btn01 {
  background: #9c9eac;
  color: #fff; }

.light-btn01:hover {
  background: #aaaab5; }

.light-btn01:active {
  background: #7d7e88; }

.light-btn02 {
  background: #fff;
  border: 1px solid #9c9eac;
  color: #9c9eac; }

.light-btn02:hover {
  background: #9c9eac;
  color: #fff;
  border-color: transparent; }

.light-btn02:active {
  background: #9c9eac;
  color: #fff;
  border-color: transparent; }

/* Dark */
.dark-btn01 {
  background: #333437;
  color: #fff; }

.dark-btn01:hover {
  background: #4e4e50; }

.dark-btn01:active {
  background: #212121; }

.dark-btn02 {
  background: #fff;
  border: 1px solid #333437;
  color: #333437; }

.dark-btn02:hover {
  background: #333437;
  color: #fff;
  border-color: transparent; }

.dark-btn02:active {
  background: #333437;
  color: #fff;
  border-color: transparent; }

.dark-btn03 {
  background: #4e4e50;
  color: #fff; }

.dark-btn03:hover {
  background: #69696c; }

.dark-btn03:active {
  background: #69696c; }

/* Other */
.other-btn {
  background: #ad89e4;
  color: #fff; }

.other-btn:hover {
  background: #bda1e9; }

.other-btn:active {
  background: #9c73da; }

/* Rounded */
.rounded-btn {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px; }

/* Rectangle */
.rectangle-btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Default + rectangle */
.default-btn01.rectangle-btn {
  -moz-box-shadow: #099ca5 0 2px 0;
  -webkit-box-shadow: #099ca5 0 2px 0;
  box-shadow: #099ca5 0 2px 0; }

.default-btn01.rectangle-btn:hover {
  -moz-box-shadow: #00bac6 0 2px 0;
  -webkit-box-shadow: #00bac6 0 2px 0;
  box-shadow: #00bac6 0 2px 0; }

.default-btn02.rectangle-btn {
  -moz-box-shadow: #09cfdc 0 2px 0;
  -webkit-box-shadow: #09cfdc 0 2px 0;
  box-shadow: #09cfdc 0 2px 0; }

.default-btn02.rectangle-btn:hover {
  -moz-box-shadow: #099ca5 0 2px 0;
  -webkit-box-shadow: #099ca5 0 2px 0;
  box-shadow: #099ca5 0 2px 0; }

/* Light + rectangle */
.light-btn01.rectangle-btn {
  -moz-box-shadow: #7d7e88 0 2px 0;
  -webkit-box-shadow: #7d7e88 0 2px 0;
  box-shadow: #7d7e88 0 2px 0; }

.light-btn01.rectangle-btn:hover {
  -moz-box-shadow: #9c9eac 0 2px 0;
  -webkit-box-shadow: #9c9eac 0 2px 0;
  box-shadow: #9c9eac 0 2px 0; }

.light-btn02.rectangle-btn {
  -moz-box-shadow: #aaaab5 0 2px 0;
  -webkit-box-shadow: #aaaab5 0 2px 0;
  box-shadow: #aaaab5 0 2px 0; }

.light-btn02.rectangle-btn:hover {
  -moz-box-shadow: #aaaab5 0 2px 0;
  -webkit-box-shadow: #aaaab5 0 2px 0;
  box-shadow: #aaaab5 0 2px 0; }

/* Dark + rectangle */
.dark-btn01.rectangle-btn {
  -moz-box-shadow: #212121 0 2px 0;
  -webkit-box-shadow: #212121 0 2px 0;
  box-shadow: #212121 0 2px 0; }

.dark-btn01.rectangle-btn:hover {
  -moz-box-shadow: #333437 0 2px 0;
  -webkit-box-shadow: #333437 0 2px 0;
  box-shadow: #333437 0 2px 0; }

.dark-btn02.rectangle-btn {
  -moz-box-shadow: #4e4e50 0 2px 0;
  -webkit-box-shadow: #4e4e50 0 2px 0;
  box-shadow: #4e4e50 0 2px 0; }

.dark-btn02.rectangle-btn:hover {
  -moz-box-shadow: #333437 0 2px 0;
  -webkit-box-shadow: #333437 0 2px 0;
  box-shadow: #333437 0 2px 0; }

.default-btn01.rectangle-btn:active,
.default-btn02.rectangle-btn:active,
.light-btn01.rectangle-btn:active,
.light-btn02.rectangle-btn:active,
.dark-btn01.rectangle-btn:active,
.dark-btn02.rectangle-btn:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Animate */
.animate-btn {
  position: relative;
  overflow: hidden; }
  .animate-btn span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    -moz-transition: width 0.5s ease-in;
    -o-transition: width 0.5s ease-in;
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in; }

/* Category Variation */
.category-tag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #aaaab5;
  color: white;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-transform: uppercase; }
  .category-tag:hover {
    background-color: #7d7e88; }
  .category-tag.cute {
    background-color: #66576a; }
  .category-tag.ask {
    background-color: #a85283; }
  .category-tag.creepy {
    background-color: #333437; }
  .category-tag.entertainments {
    background-color: #d27957; }
  .category-tag.facts {
    background-color: #cf9271; }
  .category-tag.acg {
    background-color: #a9c2a7; }
  .category-tag.art-design {
    background-color: #255559; }
  .category-tag.inspiration {
    background-color: #aeba00; }
  .category-tag.lifestyle {
    background-color: #00bac6; }
  .category-tag.lol {
    background-color: #4be1d1; }
  .category-tag.meme {
    background-color: #afa7cc; }
  .category-tag.news {
    background-color: #ccc5a7; }
  .category-tag.nsfw {
    background-color: #a87878; }
  .category-tag.sports {
    background-color: #484860; }
  .category-tag.tech {
    background-color: #787878; }
  .category-tag.travel {
    background-color: #906078; }
  .category-tag.unique {
    background-color: #bda488; }
  .category-tag.shocking {
    background-color: #8a6d60; }
  .category-tag.cute:hover, .category-tag.ask:hover, .category-tag.creepy:hover, .category-tag.entertainments:hover, .category-tag.facts:hover, .category-tag.acg:hover, .category-tag.art-design:hover, .category-tag.inspiration:hover, .category-tag.lifestyle:hover, .category-tag.lol:hover, .category-tag.meme:hover, .category-tag.news:hover, .category-tag.nsfw:hover, .category-tag.sports:hover, .category-tag.tech:hover, .category-tag.travel:hover, .category-tag.unique:hover, .category-tag.shocking:hover {
    opacity: 0.7; }

/* Date Picker UI */
.ui-datepicker {
  font-family: "Work Sans", Georgia, Times, "Times New Roman", serif;
  font-size: 16px; }
  .ui-datepicker .ui-widget-header,
  .ui-datepicker .ui-datepicker th {
    font-weight: 600 !important; }
  .ui-datepicker .ui-widget-header {
    background: #eaeaea; }
  .ui-datepicker td {
    padding: 2px;
    width: 14.28571428571429%; }
  .ui-datepicker .ui-state-default,
  .ui-datepicker .ui-widget-content
  .ui-state-default,
  .ui-datepicker .ui-widget-header .ui-state-default {
    border: 1px solid #dadade;
    background: #f7f7f7;
    font-weight: normal;
    color: #333437; }
  .ui-datepicker .ui-state-highlight {
    border: 1px solid #dadade;
    background: #fff;
    color: #333437; }
  .ui-datepicker .ui-state-active,
  .ui-datepicker .ui-widget-content .ui-state-active,
  .ui-datepicker .ui-widget-header .ui-state-active {
    border: 1px solid #099ca5;
    background: #00bac6;
    font-weight: normal;
    color: #fff; }

.main-header {
  overflow: hidden;
  *zoom: 1;
  background: #212121;
  height: 60px;
  left: 0;
  overflow: visible;
  padding: 0 30px 0 26px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5; }
  .main-header .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 60px;
    margin-right: 15px;
    padding: 12px 0 13px;
    width: 155px; }
    .main-header .logo a {
      display: block;
      height: 35px;
      padding: 4px;
      vertical-align: middle; }
    .main-header .logo span {
      background: url("../img/common/logo.svg") 0 0 no-repeat;
      background-size: 100% 100%;
      display: block;
      height: 27px;
      text-indent: -9999px; }
  .main-header i {
    font-size: 20px;
    padding: 5px 0; }
  .main-header .search-bar {
    display: none;
    height: 45px;
    left: -445px;
    position: absolute;
    top: 60px;
    width: 676px;
    z-index: 1; }
    .main-header .search-bar input {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: none;
      float: left;
      height: 45px;
      line-height: 45px; }
      .main-header .search-bar input:hover, .main-header .search-bar input:active, .main-header .search-bar input:focus {
        outline: none; }
    .main-header .search-bar input[type="text"] {
      background: #333437;
      color: #fff;
      font-size: 14px;
      padding: 0 20px;
      width: 546px; }
      .main-header .search-bar input[type="text"]:-moz-placeholder {
        color: #56575d; }
      .main-header .search-bar input[type="text"]::-moz-placeholder {
        color: #56575d; }
      .main-header .search-bar input[type="text"]:-ms-input-placeholder {
        color: #56575d; }
      .main-header .search-bar input[type="text"]::-webkit-input-placeholder {
        color: #56575d; }
    .main-header .search-bar input[type="submit"] {
      background: #00bac6;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      width: 130px; }

.main-nav {
  float: left; }
  .main-nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
    .main-nav ul li a {
      -moz-transition: color 0.35s ease;
      -o-transition: color 0.35s ease;
      -webkit-transition: color 0.35s ease;
      transition: color 0.35s ease;
      color: #7d7e88;
      display: block;
      text-decoration: none !important; }
    .main-nav ul li.hide {
      display: none; }
    .main-nav ul li.active a, .main-nav ul li a:hover {
      color: #00bac6; }
    .main-nav ul .more a {
      padding-right: 26px;
      position: relative; }
      .main-nav ul .more a i {
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        right: 0;
        top: 50%; }
    .main-nav ul .more:hover ul {
      display: block; }
    .main-nav ul ul {
      overflow: hidden;
      *zoom: 1;
      background: #333437;
      display: none;
      position: absolute;
      left: -305px;
      padding: 10px 0 25px;
      top: 60px;
      width: 390px;
      z-index: 2; }
      .main-nav ul ul li {
        font-size: 12px !important;
        float: left;
        text-transform: uppercase;
        width: 50%; }
        .main-nav ul ul li a {
          padding: 10px 35px !important;
          line-height: 15px; }
  .main-nav > ul > li {
    display: list-item;
    font-size: 14px !important;
    font-weight: 600;
    position: relative; }
    .main-nav > ul > li > a {
      line-height: 60px !important;
      height: 60px !important;
      padding: 0 12px; }

.quick-nav {
  float: right;
  font-size: 0;
  padding: 12px 0 13px; }
  .quick-nav > a {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    min-width: 35px; }
    .quick-nav > a:first-child {
      margin-left: 0; }
    .quick-nav > a i + span {
      display: none;
      padding: 0 10px 0 5px; }
  .quick-nav a:hover {
    -moz-transition: background 0.35s ease;
    -o-transition: background 0.35s ease;
    -webkit-transition: background 0.35s ease;
    transition: background 0.35s ease;
    text-decoration: none;
    color: #fff; }
  .quick-nav .sign-in,
  .quick-nav .sign-up {
    padding: 0 15px; }
  .quick-nav .user {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 13px;
    position: relative; }
    .quick-nav .user:hover .user-nav {
      display: block; }
    .quick-nav .user > a {
      color: #fff;
      display: block;
      padding: 0 15px 0 0;
      position: relative; }
    .quick-nav .user .actor-thumb {
      -moz-border-radius: 17px;
      -webkit-border-radius: 17px;
      border-radius: 17px;
      display: block;
      height: 35px;
      width: 35px;
      overflow: hidden;
      text-align: center; }
      .quick-nav .user .actor-thumb img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%; }
    .quick-nav .user .notification {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #f53400;
      font-size: 12px;
      height: 20px;
      left: 30px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      width: 20px;
      top: 50%; }
    .quick-nav .user .user-nav {
      background: #333437;
      display: none;
      padding: 10px 0 20px;
      position: absolute;
      right: -30px;
      top: 48px;
      width: 200px; }
      .quick-nav .user .user-nav a {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 35px;
        line-height: 35px;
        text-transform: uppercase;
        padding: 0 25px; }
        .quick-nav .user .user-nav a i {
          color: #fff;
          font-size: 20px; }
          .quick-nav .user .user-nav a i.icon-my-draft {
            font-size: 18px; }
        .quick-nav .user .user-nav a span {
          -moz-transition: color 0.35s ease;
          -o-transition: color 0.35s ease;
          -webkit-transition: color 0.35s ease;
          transition: color 0.35s ease;
          color: #7d7e88;
          font-size: 12px;
          padding-left: 10px; }
        .quick-nav .user .user-nav a:hover:not([disabled]) span, .quick-nav .user .user-nav a.active:not([disabled]) span {
          color: #00bac6; }
        .quick-nav .user .user-nav a[disabled], .quick-nav .user .user-nav a[disabled] span, .quick-nav .user .user-nav a[disabled] i {
          color: #56575d; }
      .quick-nav .user .user-nav li {
        position: relative; }
        .quick-nav .user .user-nav li .notif-icon {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          background: #f53400;
          display: none;
          height: 6px;
          padding: 0;
          position: absolute;
          right: 25px;
          top: 50%;
          width: 6px; }
        .quick-nav .user .user-nav li.notif-on .notif-icon {
          display: block; }

.notification-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  height: 88px;
  margin-bottom: 20px;
  padding-top: 52px;
  margin-top: 70px; }
  .notification-wrapper .notif-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dadade;
    background: #ffffe7;
    font-size: 12px;
    padding: 0 20px 0 90px;
    position: relative; }
    .notification-wrapper .notif-text::after {
      background: url('/images/police-dasgan.png') 0 0 no-repeat;
      bottom: 0;
      content: " ";
      display: block;
      height: 88px;
      left: 7px;
      position: absolute;
      width: 73px; }
    .notification-wrapper .notif-text span {
      background: #000;
      color: #fff;
      display: block;
      height: 22px;
      left: 75px;
      line-height: 22px;
      padding: 0 16px;
      position: absolute;
      top: -23px; }
    .notification-wrapper .notif-text > p {
      color: #000;
      line-height: 34px;
      margin: 0;
      padding: 0; }
      .notification-wrapper .notif-text > p a {
        color: #4773ff; }
        .notification-wrapper .notif-text > p a:hover {
          text-decoration: underline; }
  .notification-wrapper + .main-container {
    margin-top: 0 !important; }

.main-container {
  margin: 80px 40px 20px 40px;
  position: relative; }
  .main-container.detail-article, .main-container.detail-listicle {
    margin: 60px 0 20px; }
  .main-container.detail-video {
    margin-top: 110px; }
  .main-container.detail-gallery, .main-container.detail-meme {
    background: #333437;
    margin: 0;
    min-width: 1200px; }
  .main-container.detail-gallery {
    padding: 60px 0 20px 0; }
  .main-container.search-page {
    margin: 80px 10px 20px; }

.search-page .search-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px; }
  .search-page .search-wrap .search-container {
    position: relative; }
    .search-page .search-wrap .search-container .search-input {
      margin: 0 5px; }
    .search-page .search-wrap .search-container input[type="text"] {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #dadade;
      color: #333437;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      padding-left: 85px;
      width: 100%; }
      .search-page .search-wrap .search-container input[type="text"]:-moz-placeholder {
        color: #c2c2c7; }
      .search-page .search-wrap .search-container input[type="text"]::-moz-placeholder {
        color: #c2c2c7; }
      .search-page .search-wrap .search-container input[type="text"]:-ms-input-placeholder {
        color: #c2c2c7; }
      .search-page .search-wrap .search-container input[type="text"]::-webkit-input-placeholder {
        color: #c2c2c7; }
    .search-page .search-wrap .search-container:before {
      content: "Search:";
      bottom: 0;
      color: #333437;
      display: block;
      height: 48px;
      font-size: 16px;
      line-height: 48px;
      left: 6px;
      position: absolute;
      text-align: right;
      top: 1px;
      width: 80px; }
    .search-page .search-wrap .search-container .no-result {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 600;
      margin: 40px 0;
      padding: 0 5px;
      text-align: center; }
      .search-page .search-wrap .search-container .no-result p {
        margin: 0; }
      .search-page .search-wrap .search-container .no-result span {
        font-weight: normal; }

.popup-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5; }

.overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.popup {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  width: 425px;
  z-index: 1; }
  .popup .pop-head {
    background: #333437;
    display: table;
    height: 40px;
    line-height: 40px;
    width: 100%; }
    .popup .pop-head .pop-title,
    .popup .pop-head .close {
      display: table-cell;
      width: auto; }
    .popup .pop-head .pop-title {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 0 25px; }
    .popup .pop-head .close {
      vertical-align: middle;
      width: 40px; }
      .popup .pop-head .close a {
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        -webkit-transition: color 0.2s linear;
        transition: color 0.2s linear;
        color: #fff;
        display: block;
        font-size: 0;
        line-height: 40px;
        text-align: center; }
        .popup .pop-head .close a .keepo-icon {
          display: inline-block;
          font-size: 26px;
          line-height: 1;
          vertical-align: middle; }
          .popup .pop-head .close a .keepo-icon::before {
            margin: 0; }
        .popup .pop-head .close a:hover {
          color: #eaeaea; }
  .popup .banner-notif {
    position: relative; }
    .popup .banner-notif::before {
      border: 1px solid #dadade;
      bottom: 0;
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
  .popup .pop-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-color: #dadade;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 20px 24px 25px; }
    .popup .pop-content.pop-login {
      padding: 15px 24px 28px; }
      .popup .pop-content.pop-login .separator {
        color: #9c9eac;
        font-size: 16px;
        line-height: 1;
        margin: 12px 0;
        text-align: center;
        text-transform: uppercase; }
      .popup .pop-content.pop-login .email-login .input-box {
        margin-bottom: 5px; }
      .popup .pop-content.pop-login .email-login input[type="text"],
      .popup .pop-content.pop-login .email-login input[type="password"] {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #dadade;
        color: #333437;
        font-size: 16px;
        height: 40px;
        padding: 0 15px;
        width: 100%; }
        .popup .pop-content.pop-login .email-login input[type="text"]:-moz-placeholder,
        .popup .pop-content.pop-login .email-login input[type="password"]:-moz-placeholder {
          color: #c2c2c7; }
        .popup .pop-content.pop-login .email-login input[type="text"]::-moz-placeholder,
        .popup .pop-content.pop-login .email-login input[type="password"]::-moz-placeholder {
          color: #c2c2c7; }
        .popup .pop-content.pop-login .email-login input[type="text"]:-ms-input-placeholder,
        .popup .pop-content.pop-login .email-login input[type="password"]:-ms-input-placeholder {
          color: #c2c2c7; }
        .popup .pop-content.pop-login .email-login input[type="text"]::-webkit-input-placeholder,
        .popup .pop-content.pop-login .email-login input[type="password"]::-webkit-input-placeholder {
          color: #c2c2c7; }
      .popup .pop-content.pop-login .email-login input[type=submit] {
        border: none; }
      .popup .pop-content.pop-login .button-area {
        margin-top: 0; }
      .popup .pop-content.pop-login .option-box {
        overflow: hidden;
        *zoom: 1;
        margin-top: 12px; }
        .popup .pop-content.pop-login .option-box .remember-me {
          color: #333437;
          float: left;
          font-size: 12px; }
          .popup .pop-content.pop-login .option-box .remember-me input[type="checkbox"] {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 5px;
            padding: 0;
            position: relative;
            top: 2px; }
        .popup .pop-content.pop-login .option-box .forgot-password {
          float: right; }
          .popup .pop-content.pop-login .option-box .forgot-password a {
            color: #333437; }
            .popup .pop-content.pop-login .option-box .forgot-password a:hover {
              text-decoration: underline; }
      .popup .pop-content.pop-login .login-error {
        margin-bottom: 20px;
        color: red;
        text-align: center; }
        .popup .pop-content.pop-login .login-error p {
          margin: 0; }
    .popup .pop-content.pop-delete {
      padding-bottom: 35px; }
    .popup .pop-content.pop-sticker {
      padding: 12px 4px 10px 24px; }
      .popup .pop-content.pop-sticker .scroll-pane,
      .popup .pop-content.pop-sticker .sticker-list,
      .popup .pop-content.pop-sticker .emoticon-list {
        max-height: 270px;
        overflow: hidden; }
        .popup .pop-content.pop-sticker .scroll-pane .jspVerticalBar,
        .popup .pop-content.pop-sticker .sticker-list .jspVerticalBar,
        .popup .pop-content.pop-sticker .emoticon-list .jspVerticalBar {
          width: 5px; }
      .popup .pop-content.pop-sticker .tab-area {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 15px;
        padding-right: 20px;
        text-align: center; }
        .popup .pop-content.pop-sticker .tab-area li {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          padding: 0 8px 4px 0;
          width: 50%; }
          .popup .pop-content.pop-sticker .tab-area li:nth-child(even) {
            padding: 0 0 4px 8px; }
          .popup .pop-content.pop-sticker .tab-area li:nth-child(n+3) {
            margin-top: 10px; }
          .popup .pop-content.pop-sticker .tab-area li a {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #dadade;
            color: #7d7e88;
            display: block;
            height: 36px;
            font-size: 14px;
            line-height: 34px;
            position: relative; }
            .popup .pop-content.pop-sticker .tab-area li a::after {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              background: #eaeaea;
              border-color: #dadade;
              border-style: solid;
              border-width: 0 1px 1px;
              bottom: -5px;
              content: " ";
              height: 4px;
              left: -1px;
              position: absolute;
              right: -1px; }
          .popup .pop-content.pop-sticker .tab-area li.active a, .popup .pop-content.pop-sticker .tab-area li a:hover {
            background: #eaeaea;
            border-bottom: 1px solid #eaeaea; }
      .popup .pop-content.pop-sticker .sticker-list,
      .popup .pop-content.pop-sticker .emoticon-list {
        display: none; }
        .popup .pop-content.pop-sticker .sticker-list.show,
        .popup .pop-content.pop-sticker .emoticon-list.show {
          display: inherit; }
        .popup .pop-content.pop-sticker .sticker-list ul,
        .popup .pop-content.pop-sticker .emoticon-list ul {
          overflow: hidden;
          *zoom: 1; }
          .popup .pop-content.pop-sticker .sticker-list ul li,
          .popup .pop-content.pop-sticker .emoticon-list ul li {
            float: left;
            margin-left: 15px;
            width: 50px; }
            .popup .pop-content.pop-sticker .sticker-list ul li:nth-child(6n+1),
            .popup .pop-content.pop-sticker .emoticon-list ul li:nth-child(6n+1) {
              clear: both;
              margin-left: 0; }
            .popup .pop-content.pop-sticker .sticker-list ul li:nth-child(n+7),
            .popup .pop-content.pop-sticker .emoticon-list ul li:nth-child(n+7) {
              margin-top: 12px; }
            .popup .pop-content.pop-sticker .sticker-list ul li a, .popup .pop-content.pop-sticker .sticker-list ul li span,
            .popup .pop-content.pop-sticker .emoticon-list ul li a,
            .popup .pop-content.pop-sticker .emoticon-list ul li span {
              display: block; }
            .popup .pop-content.pop-sticker .sticker-list ul li a,
            .popup .pop-content.pop-sticker .emoticon-list ul li a {
              color: #333437; }
            .popup .pop-content.pop-sticker .sticker-list ul li .img,
            .popup .pop-content.pop-sticker .emoticon-list ul li .img {
              background: #eaeaea;
              display: block;
              height: 50px;
              overflow: hidden;
              position: relative;
              width: 50px; }
              .popup .pop-content.pop-sticker .sticker-list ul li .img img,
              .popup .pop-content.pop-sticker .emoticon-list ul li .img img {
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-size: 0;
                left: 50%;
                position: relative;
                top: 50%;
                max-width: 100%; }
              .popup .pop-content.pop-sticker .sticker-list ul li .img::after,
              .popup .pop-content.pop-sticker .emoticon-list ul li .img::after {
                border: 1px solid #dadade;
                bottom: 0;
                content: " ";
                left: 0;
                position: absolute;
                right: 0;
                top: 0; }
            .popup .pop-content.pop-sticker .sticker-list ul li .txt,
            .popup .pop-content.pop-sticker .emoticon-list ul li .txt {
              font-size: 10px;
              margin-top: 10px;
              text-align: center; }
    .popup .pop-content.pop-notif .notif p {
      line-height: 1.3;
      margin: 0; }
      .popup .pop-content.pop-notif .notif p a {
        color: #00bac6; }
        .popup .pop-content.pop-notif .notif p a:hover {
          text-decoration: underline; }
    .popup .pop-content.pop-notif .title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px; }
    .popup .pop-content.pop-notif .txt p,
    .popup .pop-content.pop-notif .note p {
      font-size: 14px; }
      .popup .pop-content.pop-notif .txt p:first-child,
      .popup .pop-content.pop-notif .note p:first-child {
        margin-top: 0; }
    .popup .pop-content.pop-notif .txt {
      margin-bottom: 15px; }
    .popup .pop-content .button-area {
      margin-top: 25px; }
      .popup .pop-content .button-area a, .popup .pop-content .button-area input[type=submit] {
        -moz-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        -webkit-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-size: 12px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: 100%; }
      .popup .pop-content .button-area.single-btn li {
        padding-bottom: 2px;
        width: 100%; }
      .popup .pop-content .button-area.double-btn {
        overflow: hidden;
        *zoom: 1;
        font-size: 0;
        text-align: center; }
        .popup .pop-content .button-area.double-btn li {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          padding: 0 8px 2px 0;
          width: 50%; }
          .popup .pop-content .button-area.double-btn li:nth-child(even) {
            padding: 0 0 2px 8px; }
          .popup .pop-content .button-area.double-btn li:nth-child(n+3) {
            margin-top: 10px; }
      .popup .pop-content .button-area .facebook-btn a {
        -moz-box-shadow: #1a4e95 0 2px 0;
        -webkit-box-shadow: #1a4e95 0 2px 0;
        box-shadow: #1a4e95 0 2px 0;
        background: #3468af; }
        .popup .pop-content .button-area .facebook-btn a:hover {
          background: #1a4e95; }
      .popup .pop-content .button-area .orange-btn a {
        -moz-box-shadow: #ae1800 0 2px 0;
        -webkit-box-shadow: #ae1800 0 2px 0;
        box-shadow: #ae1800 0 2px 0;
        background: #ff5b2f; }
        .popup .pop-content .button-area .orange-btn a:hover {
          background: #ae1800; }
      .popup .pop-content .button-area .tosca-btn a {
        -moz-box-shadow: #099ca5 0 2px 0;
        -webkit-box-shadow: #099ca5 0 2px 0;
        box-shadow: #099ca5 0 2px 0;
        background: #00bac6; }
        .popup .pop-content .button-area .tosca-btn a:hover {
          background: #099ca5; }
      .popup .pop-content .button-area .disable-btn {
        text-align: center; }
        .popup .pop-content .button-area .disable-btn span {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background: #eaeaea;
          color: #7d7e88;
          font-size: 12px;
          display: block;
          height: 42px;
          line-height: 42px;
          text-transform: uppercase; }
    .popup .pop-content .text-area .label {
      color: #69696c;
      font-size: 18px;
      font-weight: 600; }
    .popup .pop-content .text-area .info {
      font-size: 16px;
      color: #333437; }
    .popup .pop-content .text-area .label + .info {
      margin-top: 20px; }
  .popup .pop-foot {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f7f7f7;
    border-color: #dadade;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #333437;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px; }
    .popup .pop-foot p {
      margin: 0;
      padding: 0; }
    .popup .pop-foot a {
      color: #00bac6;
      margin-left: 5px; }
      .popup .pop-foot a:hover {
        text-decoration: underline; }

/* color code */
.editor-popup-container {
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100; }
  .editor-popup-container .epi-main-header {
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%; }
    .editor-popup-container .epi-main-header .f-left {
      float: left;
      font-size: 36px;
      font-weight: 600;
      width: 50%; }
      .editor-popup-container .epi-main-header .f-left span {
        font-size: 14px;
        font-weight: normal; }
    .editor-popup-container .epi-main-header .f-right {
      float: right; }
      .editor-popup-container .epi-main-header .f-right a {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 34px;
        line-height: 34px;
        margin-top: 10px;
        width: 145px; }
  .editor-popup-container .epi-close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    height: 50px;
    width: 50px; }
    .editor-popup-container .epi-close::before, .editor-popup-container .epi-close::after {
      background-color: #000;
      content: "";
      height: 50px;
      width: 2px;
      position: absolute;
      top: 50%;
      left: 50%; }
    .editor-popup-container .epi-close::before {
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .editor-popup-container .epi-close::after {
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
  .editor-popup-container.epi-opened .epi-top {
    animation: editor-popup-top-startup 0.75s cubic-bezier(0.455, 0.03, 0.615, 0.555); }
  .editor-popup-container.epi-opened .epi-bottom {
    animation: editor-popup-bottom-startup 0.75s cubic-bezier(0.455, 0.03, 0.615, 0.555); }
  .editor-popup-container.epi-closed .epi-top {
    animation: editor-popup-top-close 0.75s cubic-bezier(0.455, 0.03, 0.615, 0.555);
    top: 35% !important; }
  .editor-popup-container.epi-closed .epi-bottom {
    animation: editor-popup-bottom-close 0.75s cubic-bezier(0.455, 0.03, 0.615, 0.555);
    bottom: 10% !important; }
  .editor-popup-container.epi-closed .epi-main-header {
    display: none; }
  .editor-popup-container.epi-closed .epi-close {
    display: none; }
  .editor-popup-container.epi-opened .epi-top,
  .editor-popup-container.epi-opened .epi-bottom, .editor-popup-container.epi-closed .epi-top,
  .editor-popup-container.epi-closed .epi-bottom {
    animation-fill-mode: forwards; }
  .editor-popup-container.epi-opened .epi-article {
    animation-delay: 0s; }
  .editor-popup-container.epi-opened .epi-listicle {
    animation-delay: .15s; }
  .editor-popup-container.epi-opened .epi-gallery {
    animation-delay: .30s; }
  .editor-popup-container.epi-opened .epi-video {
    animation-delay: .45s; }
  .editor-popup-container.epi-opened .epi-trivia {
    animation-delay: .15s; }
  .editor-popup-container.epi-opened .epi-personality {
    animation-delay: .30s; }
  .editor-popup-container.epi-opened .epi-polling {
    animation-delay: .45s; }
  .editor-popup-container.epi-opened .epi-meme {
    animation-delay: .60s; }
  .editor-popup-container.epi-closed .epi-article {
    animation-delay: .45s; }
  .editor-popup-container.epi-closed .epi-listicle {
    animation-delay: .30s; }
  .editor-popup-container.epi-closed .epi-gallery {
    animation-delay: .15s; }
  .editor-popup-container.epi-closed .epi-video {
    animation-delay: 0s; }
  .editor-popup-container.epi-closed .epi-trivia {
    animation-delay: .60s; }
  .editor-popup-container.epi-closed .epi-personality {
    animation-delay: .45s; }
  .editor-popup-container.epi-closed .epi-polling {
    animation-delay: .30s; }
  .editor-popup-container.epi-closed .epi-meme {
    animation-delay: .15s; }

.editor-popup-item {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  height: 160px;
  width: 160px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 101; }
  .editor-popup-item span {
    display: block; }
  .editor-popup-item.epi-top {
    top: -35%; }
  .editor-popup-item.epi-bottom {
    bottom: -75%; }
  .editor-popup-item.epi-top, .editor-popup-item.epi-bottom {
    animation-fill-mode: forwards; }
  .editor-popup-item .epi-header {
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 18px;
    background-position: 50% 20px;
    padding-top: 90px; }
  .editor-popup-item .epi-footer {
    margin-top: 10px;
    font-size: 10px; }
  .editor-popup-item .epi-header span,
  .editor-popup-item .epi-footer a {
    color: #9d9da7;
    position: relative;
    z-index: 102;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear; }
  .editor-popup-item .epi-footer a {
    z-index: 103; }
    .editor-popup-item .epi-footer a::after {
      content: "[ lihat contoh ]"; }
    .editor-popup-item .epi-footer a:hover::after {
      text-decoration: underline; }
  .editor-popup-item::before, .editor-popup-item::after,
  .editor-popup-item .epi-classy {
    position: absolute; }
  .editor-popup-item .epi-classy {
    height: 160px;
    width: 160px;
    top: 0;
    left: 0;
    display: block;
    z-index: 102; }
  .editor-popup-item::before, .editor-popup-item::after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .editor-popup-item::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .editor-popup-item::after {
    content: "";
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .editor-popup-item.epi-article {
    left: 20%; }
    .editor-popup-item.epi-article .epi-header {
      background-image: url('/images/editor-icons/article.png'); }
    .editor-popup-item.epi-article .epi-header span::after {
      content: "Article"; }
    .editor-popup-item.epi-article::after {
      background-color: rgba(46, 161, 242, 0.7); }
  .editor-popup-item.epi-listicle {
    left: 40%;
    animation-delay: .15s; }
    .editor-popup-item.epi-listicle .epi-header {
      background-image: url('/images/editor-icons/listicle.png'); }
    .editor-popup-item.epi-listicle .epi-header span::after {
      content: "Listicle"; }
    .editor-popup-item.epi-listicle::after {
      background-color: rgba(14, 130, 211, 0.7); }
  .editor-popup-item.epi-gallery {
    left: 60%;
    animation-delay: .30s; }
    .editor-popup-item.epi-gallery .epi-header {
      background-image: url('/images/editor-icons/gallery.png'); }
    .editor-popup-item.epi-gallery .epi-header span::after {
      content: "Gallery"; }
    .editor-popup-item.epi-gallery::after {
      background-color: rgba(52, 104, 175, 0.7); }
  .editor-popup-item.epi-video {
    left: 80%;
    animation-delay: .45s; }
    .editor-popup-item.epi-video .epi-header {
      background-image: url('/images/editor-icons/video.png'); }
    .editor-popup-item.epi-video .epi-header span::after {
      content: "Video"; }
    .editor-popup-item.epi-video::after {
      background-color: rgba(106, 71, 255, 0.7); }
  .editor-popup-item.epi-trivia {
    left: 20%;
    animation-delay: .45s; }
    .editor-popup-item.epi-trivia .epi-header {
      background-image: url('/images/editor-icons/trivia.png'); }
    .editor-popup-item.epi-trivia .epi-header span::after {
      content: "Trivia Quiz"; }
    .editor-popup-item.epi-trivia::after {
      background-color: rgba(134, 100, 233, 0.7); }
  .editor-popup-item.epi-personality {
    left: 40%; }
    .editor-popup-item.epi-personality .epi-header {
      background-image: url('/images/editor-icons/personality.png');
      font-size: 16px; }
    .editor-popup-item.epi-personality .epi-header span::after {
      content: "Personality Quiz"; }
    .editor-popup-item.epi-personality::after {
      background-color: rgba(143, 56, 210, 0.7); }
  .editor-popup-item.epi-polling {
    left: 60%;
    animation-delay: .15s; }
    .editor-popup-item.epi-polling .epi-header {
      background-image: url('/images/editor-icons/polling.png'); }
    .editor-popup-item.epi-polling .epi-header span::after {
      content: "Polling"; }
    .editor-popup-item.epi-polling::after {
      background-color: rgba(217, 54, 246, 0.7); }
  .editor-popup-item.epi-meme {
    left: 80%;
    animation-delay: .30s; }
    .editor-popup-item.epi-meme .epi-header {
      background-image: url('/images/editor-icons/meme.png'); }
    .editor-popup-item.epi-meme .epi-header span::after {
      content: "Meme"; }
    .editor-popup-item.epi-meme::after {
      background-color: rgba(250, 134, 195, 0.65); }
  .editor-popup-item:hover .epi-header span,
  .editor-popup-item:hover .epi-footer a {
    color: #fff; }
  .editor-popup-item:hover::before {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 10px rgba(0, 0, 0, 0.1); }
  .editor-popup-item:hover::after {
    height: 100%;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

@keyframes editor-popup-top-startup {
  0% {
    bottom: -35%; }
  70% {
    top: 40%; }
  100% {
    top: 35%; } }
@keyframes editor-popup-bottom-startup {
  0% {
    bottom: -35%; }
  70% {
    bottom: 15%; }
  100% {
    bottom: 10%; } }
@keyframes editor-popup-top-close {
  0% {
    top: 35%; }
  30% {
    top: 40%; }
  100% {
    top: -35%; } }
@keyframes editor-popup-bottom-close {
  0% {
    bottom: 10%; }
  30% {
    bottom: 15%; }
  100% {
    bottom: -75%; } }
@media only screen and (min-width: 1360px) {
  .editor-popup-item.epi-bottom {
    bottom: -75%; } }
/* color code */
.adv-box.default {
  height: 90px;
  text-align: center; }
.adv-box iframe {
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 1280px) {
  .main-nav .quiz,
  .main-nav .nsfw {
    display: none; }

  .quick-nav .sign-up {
    display: none; }

  .search-page .search-container {
    width: 930px; } }
@media only screen and (min-width: 1281px) and (max-width: 1360px) {
  .main-nav .submenu-quiz,
  .main-nav .submenu-nsfw {
    display: none; }

  .search-page .search-container {
    width: 1240px; } }
@media only screen and (min-width: 1361px) {
  .quick-nav > a {
    padding: 0 5px; }
    .quick-nav > a i + span {
      display: block;
      padding: 0 10px 0 5px; }

  .search-page .search-container {
    width: 1240px; } }

/*# sourceMappingURL=common.css.map */
