@charset "UTF-8";
/* color code */
/* line 1, ../scss/_text-default.scss */
.text {
  font-size: 17px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
  /*
  Copyright (c) 2010,.text  Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 2.8.2r1
  */
}
/* line 19, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin: 1em 0;
}
/* line 20, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6, .text strong, .text dt {
  font-weight: 600;
}
/* line 21, ../scss/_text-default.scss */
.text optgroup {
  font-weight: normal;
}
/* line 22, ../scss/_text-default.scss */
.text abbr, .text acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* line 23, ../scss/_text-default.scss */
.text em {
  font-style: italic;
}
/* line 24, ../scss/_text-default.scss */
.text del {
  text-decoration: line-through;
}
/* line 25, ../scss/_text-default.scss */
.text blockquote, .text ul, .text ol, .text dl {
  margin: 1em;
}
/* line 26, ../scss/_text-default.scss */
.text ol, .text ul, .text dl {
  margin-left: 2em;
}
/* line 27, ../scss/_text-default.scss */
.text ol li {
  list-style: decimal outside !important;
}
/* line 28, ../scss/_text-default.scss */
.text ul li {
  list-style: disc outside;
}
/* line 29, ../scss/_text-default.scss */
.text dl dd {
  margin-left: 1em;
}
/* line 30, ../scss/_text-default.scss */
.text th, .text td {
  padding: .5em;
}
/* line 31, ../scss/_text-default.scss */
.text th {
  font-weight: bold;
  text-align: center;
}
/* line 32, ../scss/_text-default.scss */
.text caption {
  margin-bottom: .5em;
  text-align: center;
}
/* line 33, ../scss/_text-default.scss */
.text sup {
  vertical-align: super;
}
/* line 33, ../scss/_text-default.scss */
.text sub {
  vertical-align: sub;
}
/* line 34, ../scss/_text-default.scss */
.text p, .text fieldset, .text table, .text pre {
  margin-bottom: 1em;
}
/* line 35, ../scss/_text-default.scss */
.text button, .text input[type="checkbox"],
.text input[type="radio"], .text input[type="reset"],
.text input[type="submit"] {
  padding: 1px;
}
/* line 42, ../scss/_text-default.scss */
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
  background: none;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0;
}
/* line 48, ../scss/_text-default.scss */
.text h1:first-child, .text h2:first-child, .text h3:first-child, .text h4:first-child, .text h5:first-child, .text h6:first-child {
  margin-top: 0;
}
/* line 49, ../scss/_text-default.scss */
.text h1:last-child, .text h2:last-child, .text h3:last-child, .text h4:last-child, .text h5:last-child, .text h6:last-child {
  margin-bottom: 0;
}
/* line 51, ../scss/_text-default.scss */
.text h1 {
  font-size: 30px;
}
/* line 52, ../scss/_text-default.scss */
.text h2 {
  font-size: 24px;
}
/* line 53, ../scss/_text-default.scss */
.text h3 {
  font-size: 20px;
}
/* line 54, ../scss/_text-default.scss */
.text h4 {
  font-size: 18px;
}
/* line 55, ../scss/_text-default.scss */
.text h5 {
  font-size: 16px;
}
/* line 56, ../scss/_text-default.scss */
.text h6 {
  font-size: 14px;
}
/* line 57, ../scss/_text-default.scss */
.text p {
  letter-spacing: -0.5px;
  overflow: hidden;
}
/* line 61, ../scss/_text-default.scss */
.text p:first-child {
  margin-top: 0;
}
/* line 62, ../scss/_text-default.scss */
.text p:last-child {
  margin-bottom: 0;
}
/* line 64, ../scss/_text-default.scss */
.text a {
  color: #4773ff;
  text-decoration: none;
}
/* line 68, ../scss/_text-default.scss */
.text u,
.text a:hover {
  text-decoration: underline;
}
/* line 72, ../scss/_text-default.scss */
.text strong, .text b {
  font-weight: 600;
}
/* line 75, ../scss/_text-default.scss */
.text em, .text i, .text address {
  font-style: italic;
}
/* line 78, ../scss/_text-default.scss */
.text p, .text ul, .text ol, .text dd, .text pre, .text hr {
  margin: 20px 0;
}
/* line 81, ../scss/_text-default.scss */
.text ul, .text ol {
  margin: 20px 0;
  padding-left: 30px;
}
/* line 85, ../scss/_text-default.scss */
.text hr {
  border: 1px inset;
  border-color: #000;
  border-style: solid;
}
/* line 90, ../scss/_text-default.scss */
.text pre {
  background-color: #F7F7F7;
  color: #222222;
  font-family: "Courier 10 Pitch",Courier,monospace !important;
  padding: 1.5em;
  word-break: break-all;
  word-break: break-word;
}
/* line 98, ../scss/_text-default.scss */
.text pre, .text kbd, .text tt, .text var {
  font-size: 15px;
}
/* line 102, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet) {
  color: #9c9eac;
  font: italic 24px Georgia, Helvetica, serif;
  margin: 0 10px;
  padding: 0 10px 0 60px;
  quotes: "“" "”";
  position: relative;
  line-height: 1.5;
}
/* line 111, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet)::before {
  content: open-quote;
  font-size: 4em;
  line-height: 1;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 122, ../scss/_text-default.scss */
.text blockquote:not(.twitter-tweet) p {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
/* line 132, ../scss/_text-default.scss */
.text table {
  border-collapse: separate;
  border-spacing: 2px;
}
/* line 136, ../scss/_text-default.scss */
.text table td {
  vertical-align: top;
}
/* line 139, ../scss/_text-default.scss */
.text .wp-caption {
  text-align: center;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 149, ../scss/_text-default.scss */
.text .wp-caption .wp-caption-text {
  font-size: .9em;
  font-style: italic;
}
/* line 154, ../scss/_text-default.scss */
.text .wp-caption caption {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 165, ../scss/_text-default.scss */
.text .aligncenter,
.text dl.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 171, ../scss/_text-default.scss */
.text .alignleft {
  float: left;
}
/* line 174, ../scss/_text-default.scss */
.text .alignright {
  float: right;
}
/* line 178, ../scss/_text-default.scss */
.text ins {
  border-bottom: 1px solid green;
  text-decoration: none;
  color: green;
}
/* line 179, ../scss/_text-default.scss */
.text del {
  color: red;
  text-decoration: line-through;
}
/* line 180, ../scss/_text-default.scss */
.text cite {
  border-bottom: 1px dashed blue;
}
/* line 181, ../scss/_text-default.scss */
.text acronym {
  border-bottom: 1px dotted #CCC;
  cursor: help;
}
/* line 182, ../scss/_text-default.scss */
.text abbr, .text html\:abbr {
  border-bottom: 1px dashed #CCC;
  cursor: help;
}
/* line 183, ../scss/_text-default.scss */
.text img:not(.width-persistent) {
  height: auto;
  width: 100%;
}
/* line 185, ../scss/_text-default.scss */
.text figure {
  margin: 0 0 40px;
  width: 100%;
}
/* line 189, ../scss/_text-default.scss */
.text figure iframe, .text figure .iframeContainer {
  margin-top: 40px;
  text-align: center;
}
/* line 193, ../scss/_text-default.scss */
.text figure iframe iframe, .text figure .iframeContainer iframe {
  width: 100%;
}
/* line 198, ../scss/_text-default.scss */
.text figure img {
  height: auto;
  margin-top: 20px;
  width: 100%;
}
/* line 204, ../scss/_text-default.scss */
.text figure figcaption {
  font-size: 14px;
  font-style: italic;
  color: #9c9eac;
  margin-top: 20px;
  text-align: center;
}
/* line 211, ../scss/_text-default.scss */
.text figure figcaption a {
  color: #9c9eac !important;
}
/* line 216, ../scss/_text-default.scss */
.text figure:focus {
  outline: none;
}
/* line 223, ../scss/_text-default.scss */
.text .read-this {
  background: #fff;
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 0;
  position: relative;
}
/* line 230, ../scss/_text-default.scss */
.text .read-this .label {
  background: #4773ff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
  padding: 3px 5px;
  text-transform: uppercase;
}
/* line 241, ../scss/_text-default.scss */
.text .read-this ul {
  margin: 0;
  padding: 0;
}
/* line 245, ../scss/_text-default.scss */
.text .read-this ul li {
  margin: 0;
}
/* line 250, ../scss/_text-default.scss */
.text .read-this.single-article {
  overflow: hidden;
  *zoom: 1;
  margin: 40px 0 20px;
  overflow: hidden;
}
/* line 255, ../scss/_text-default.scss */
.text .read-this.single-article .label {
  margin-bottom: 8px;
}
/* line 259, ../scss/_text-default.scss */
.text .read-this.single-article ul li {
  display: block;
  padding: 3px 0;
  width: 100%;
}
/* line 265, ../scss/_text-default.scss */
.text .read-this.single-article .issues-text {
  display: table-cell;
  height: 108px;
  vertical-align: middle;
  padding: 0 85px 0 15px;
}
/* line 271, ../scss/_text-default.scss */
.text .read-this.single-article .issues-text .text {
  max-height: 60px;
  overflow: hidden;
}
/* line 277, ../scss/_text-default.scss */
.text .read-this.single-article .icon-right-big {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #4773ff;
  font-size: 60px;
  line-height: 1;
  position: absolute;
  right: -4px;
  top: 50%;
}
/* line 286, ../scss/_text-default.scss */
.text .read-this.single-article .icon-right-big::before {
  margin: 0;
}
/* line 292, ../scss/_text-default.scss */
.text .read-this.double-article {
  margin: 60px 0 20px;
}
/* line 295, ../scss/_text-default.scss */
.text .read-this.double-article .label {
  left: 0;
  top: -20px;
  position: absolute;
}
/* line 301, ../scss/_text-default.scss */
.text .read-this.double-article ul {
  display: table;
  width: 100%;
}
/* line 305, ../scss/_text-default.scss */
.text .read-this.double-article ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  padding: 15px 10px 20px 0;
  position: relative;
  width: 50%;
}
/* line 312, ../scss/_text-default.scss */
.text .read-this.double-article ul li:nth-child(even) {
  padding: 0 0 0 10px;
}
/* line 318, ../scss/_text-default.scss */
.text .read-this.double-article .issues-text {
  padding: 0 20px 0 155px;
}
/* line 321, ../scss/_text-default.scss */
.text .read-this.double-article .issues-text .text {
  overflow: hidden;
}
/* line 327, ../scss/_text-default.scss */
.text .read-this .issues-text {
  font-size: 0;
}
/* line 330, ../scss/_text-default.scss */
.text .read-this .issues-text .text {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 333, ../scss/_text-default.scss */
.text .read-this .issues-text .text > p {
  line-height: 22px;
  padding: 0;
}
/* line 340, ../scss/_text-default.scss */
.text .read-this .issues-img {
  float: left;
  height: 108px;
  position: relative;
  width: 140px;
}
/* line 346, ../scss/_text-default.scss */
.text .read-this .issues-img img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 360, ../scss/_text-default.scss */
.text .read-this ul li:hover .text {
  color: #4773ff;
}

/* line 7, ../scss/detail.scss */
.cover-title {
  height: 420px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 14, ../scss/detail.scss */
.cover-title .cover-img {
  display: block;
  height: 420px;
  width: 100%;
}
/* line 19, ../scss/detail.scss */
.cover-title .cover-img img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
}
/* line 30, ../scss/detail.scss */
.cover-title .cover-img::after {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 42, ../scss/detail.scss */
.cover-title .detail-title {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 28px;
  color: #fff;
  left: 50%;
  position: absolute;
  width: 978px;
}
/* line 50, ../scss/detail.scss */
.cover-title .detail-title .title {
  font-size: 26px;
  font-weight: 800;
  line-height: 52px;
}

/* line 62, ../scss/detail.scss */
.detail-info ul {
  font-size: 0;
}
/* line 66, ../scss/detail.scss */
.detail-info li {
  font-size: 12px;
  display: inline-block;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 73, ../scss/detail.scss */
.detail-info li.separator {
  font-size: 20px;
  margin: 0 5px;
}
/* line 78, ../scss/detail.scss */
.detail-info li a {
  color: #fff;
}
/* line 81, ../scss/detail.scss */
.detail-info li a:hover {
  text-decoration: underline;
}
/* line 87, ../scss/detail.scss */
.detail-info .author {
  margin-left: 20px;
  position: relative;
  padding-left: 40px;
}
/* line 92, ../scss/detail.scss */
.detail-info .author span {
  line-height: 30px;
}
/* line 96, ../scss/detail.scss */
.detail-info .author .user-pict {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 30px;
}
/* line 106, ../scss/detail.scss */
.detail-info .author .user-pict img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

/* line 117, ../scss/detail.scss */
.detail-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 123, ../scss/detail.scss */
.detail-container {
  position: relative;
  width: 890px;
}
/* line 127, ../scss/detail.scss */
.detail-container .social-sidebar {
  display: block;
  position: absolute;
  top: 0;
  width: 90px;
  z-index: 1;
}
/* line 134, ../scss/detail.scss */
.detail-container .social-sidebar.sticky {
  position: fixed;
  top: 100px;
}
/* line 141, ../scss/detail.scss */
.detail-container .social-sidebar .social-info > div {
  margin-top: 25px;
}
/* line 144, ../scss/detail.scss */
.detail-container .social-sidebar .social-info > div:first-child {
  margin-top: 0;
}
/* line 149, ../scss/detail.scss */
.detail-container .social-sidebar .social-info p {
  margin: 0;
}
/* line 153, ../scss/detail.scss */
.detail-container .social-sidebar .social-info .number {
  font-size: 24px;
  font-weight: 600;
}
/* line 158, ../scss/detail.scss */
.detail-container .social-sidebar .social-info .label {
  color: #9c9eac;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 164, ../scss/detail.scss */
.detail-container .social-sidebar .social-info .views .number {
  color: #00bac6;
}
/* line 165, ../scss/detail.scss */
.detail-container .social-sidebar .social-info .shares .number {
  color: #2ea1f2;
}
/* line 168, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn {
  margin-top: 25px;
}
/* line 171, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li {
  margin-top: 10px;
}
/* line 174, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li:first-child {
  margin-top: 0;
}
/* line 178, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li a {
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 0;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/* line 190, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li a i, .detail-container .social-sidebar .social-btn li a span {
  display: inline-block;
  vertical-align: middle;
}
/* line 195, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li a span {
  font-size: 14px;
}
/* line 199, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn li a .keepo-icon {
  margin-left: 0;
}
/* line 207, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .facebook .keepo-icon {
  font-size: 18px;
  padding-top: 1px;
}
/* line 212, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .facebook a {
  background: #3468af;
}
/* line 215, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .facebook a:hover {
  background: #1a4e95;
}
/* line 223, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .twitter .keepo-icon {
  font-size: 20px;
}
/* line 227, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .twitter a {
  background: #4ec0f0;
}
/* line 230, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .twitter a:hover {
  background: #35aadc;
}
/* line 238, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .embed a {
  background: #fff;
  border: 1px solid #dadade;
  color: #7d7e88;
}
/* line 243, ../scss/detail.scss */
.detail-container .social-sidebar .social-btn .embed a:hover {
  color: #dadade;
}
/* line 251, ../scss/detail.scss */
.detail-container .detail-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 38px 0 124px;
}
/* line 255, ../scss/detail.scss */
.detail-container .detail-content .lead-title {
  color: #333437;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}
/* line 266, ../scss/detail.scss */
.detail-container .detail-content .article .title,
.detail-container .detail-content .listicle .title {
  margin-bottom: 40px;
}
/* line 274, ../scss/detail.scss */
.detail-container .content-box .adv {
  margin-bottom: 50px;
}
/* line 278, ../scss/detail.scss */
.detail-container .content-box.video-content .adv {
  margin-bottom: 40px;
}
/* line 285, ../scss/detail.scss */
.detail-container .article-footer .adv {
  margin: 55px 0 20px;
}
/* line 292, ../scss/detail.scss */
.detail-container .listicle-content .list {
  border-top: 1px solid #dadade;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 298, ../scss/detail.scss */
.detail-container .listicle-content .title-box {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 0;
  overflow: hidden;
}
/* line 303, ../scss/detail.scss */
.detail-container .listicle-content .title-box .list-number, .detail-container .listicle-content .title-box .list-title {
  font-weight: 600;
}
/* line 307, ../scss/detail.scss */
.detail-container .listicle-content .title-box .list-number {
  background: #2ea1f2;
  color: #fff;
  float: left;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 50px;
}
/* line 319, ../scss/detail.scss */
.detail-container .listicle-content .title-box .list-title {
  color: #333437;
  font-size: 24px;
  line-height: 35px;
  padding-left: 70px;
}
/* line 327, ../scss/detail.scss */
.detail-container .listicle-content .img-box {
  margin-bottom: 40px;
}
/* line 330, ../scss/detail.scss */
.detail-container .listicle-content .img-box p {
  margin: 0;
}
/* line 334, ../scss/detail.scss */
.detail-container .listicle-content .img-box img {
  height: auto;
  width: 100%;
}
/* line 343, ../scss/detail.scss */
.detail-container .listicle-footer .adv {
  margin: 55px 0 30px;
}
/* line 350, ../scss/detail.scss */
.detail-container .video-container .detail-title {
  color: #333437;
  margin-bottom: 30px;
}
/* line 354, ../scss/detail.scss */
.detail-container .video-container .detail-title .title {
  font-size: 26px;
  font-weight: 800;
  line-height: 52px;
}
/* line 359, ../scss/detail.scss */
.detail-container .video-container .detail-title .title h1 {
  margin: 0;
}
/* line 367, ../scss/detail.scss */
.detail-container .video-container .video .lead-title {
  margin: 0 0 25px;
}
/* line 372, ../scss/detail.scss */
.detail-container .video-container .detail-info {
  color: #9c9eac;
  margin-bottom: 25px;
}
/* line 376, ../scss/detail.scss */
.detail-container .video-container .detail-info a {
  color: #9c9eac;
}
