@import "template";

// ==========================================================================
// Feeds
// ==========================================================================
.feeds-wrapper {
    @include display-flex;
    @include flex-wrap(nowrap);
    @include justify-content(center);
}

.feeds-container{
	@include clearfix();
    padding: 0;

    .items{
    	@include box-shadow($black-05 0 3px 1px 0);
    	background: $white;
	    height: 475px;
	    width: 300px;
	    float: left;
	    margin: 0 10px 20px 0;
	    position: relative;

	    &.adv{
    		@include box-shadow(none);
	    	background: transparent;
	    }

	    &.sticky{
			background-color: $sticky;
	    }

	    a{
	    	@include transition(color 0.3s linear);

			&:not(.classy) {
			    z-index: 2;
			}
	    }

	    .post-img{
		    height: 200px;
    		overflow: hidden;
    		position: relative;
		    width: 100%;

		    &>img{
		    	@include translate(-50%, -50%);
		    	font-size: 0;
			    left: 50%;
			    min-height: 200px;
		    	min-width: 300px;
			    position: relative;
			    top: 50%;
			}
		}

		.info-container{
			@include box-sizing(border-box);
		    border-right: 1px solid $black-10;
		    border-left: 1px solid $black-10;
		    height: 235px;
		    padding: 15px 20px 0 20px;

			.post-title h1,
			.post-lead p{
			    font-size: inherit;
			    font-weight: inherit;
			    margin: 0;
			}

			.post-title{
				@include transition(color 0.3s linear);
			    color: $black-80;
			    font-size: 18px;
			    font-weight: 600;
			    margin-bottom: 10px;
			    max-height: 115px;
			    overflow: hidden;

			    h1{
			    	line-height: 1.3;
			    	letter-spacing: -0.5px;

			    	.label{
			    		background: $link-blue;
			    		color: $white;
			    		margin-right: 5px;
			    		padding: 0 5px;
			    		text-transform: uppercase;
			    	}
			    }
			}

			.post-lead{
			    color: $black-40;
			    font-size: 14px;
			    line-height: 20px;
			    margin-bottom: 10px;
			    max-height: 40px;
			    overflow: hidden;
			}

			.post-author{
			    position: relative;

			    a{
			    	display: inline-block;

			    	&:hover{
		    		    color: $link-blue;
			    	}
			    }

			    .user-pict{
					@include border-radius(50%);
					@include translateY(-50%);
				    height: 30px;
				    left: 0;
				    overflow: hidden;
				    position: absolute;
				    top: 50%;
				    width: 30px;

				    img{
						@include translate(-50%, -50%);
						font-size: 0;
						left: 50%;
						min-height: 30px;
						min-width: 30px;
						position: relative;
						top: 50%;
				    }
				}

				.user-name{
				    color: $black-30;
				    font-size: 10px;
				    padding-left: 40px;
				    height: 30px;
				    line-height: 30px;
				    position: relative;
				}
			}
		}

		.post-footer{
			@include box-sizing(border-box);
		    border: 1px solid $black-10;
		    bottom: 0;
		    font-size: 0;
		    height: 40px;
			line-height: 38px;
		    padding: 0 20px;
		    position: absolute;
		    width: 100%;

			.icon-view,
			.total-view{
				color: $black-30;
				display: inline-block;
				margin: 0;
				vertical-align: middle;
			}

			.icon-view{
				font-size: 16px;
			}

			.total-view{
				font-size: 12px;
				margin-left: 5px;
			}

			.category-tag{
				@include translateY(-50%);
				position: absolute;
				right: 20px;
				top: 50%;
			}
		}
    }

	.items:hover .post-title{
	    color: $link-blue;
	}

	.adv{

		&>div{
			display: block;
			width: 300px;
		}

		.adv-box{
			background: $black-10;
			height: 250px;
			margin-bottom: 20px;
		}

		.follow-medsos{
	    	@include box-shadow($black-05 0 3px 1px 0);
			@include box-sizing(border-box);
			background: $white url("../img/follow-keepo.jpg") right bottom no-repeat;
			background-size: 122px auto;
		    border: 1px solid $black-10;
	    	height: 205px;
	    	padding: 15px;

	    	h3,p{ margin: 0; padding: 0; }

	    	header{
	    		margin-bottom: 35px;

	    		h3,p{ color: $black-40; }

	    		h3{
		    		font-size: 23px;
		    		font-weight: 800;
		    		letter-spacing: -0.5px;
		    	}

	    		p{
	    			font-size: 18px;
	    			font-weight: normal;
	    		}
	    	}

	    	article article,
	    	footer{
	    		padding-right: 115px;
	    	}

	    	article article{
	    		margin-bottom: 15px;

	    		p{
	    			color: $black-40;
	    			font-size: 12px;
	    		}
	    	}

	    	footer{

    			li{
    				margin-top: 5px;
    				font-size: 0;

    				&:first-child{ margin-top: 0; }

    				a,
    				span{
    					display: inline-block;
    					vertical-align: middle;
    				}

    				a{
						@include box-sizing(border-box);
    					color: $white;
    					height: 22px;
						line-height: 22px;
    					padding: 0 2px 0 30px;
    					position: relative;
    					width: 80px;
    				}

    				span{
    					font-size: 12px;
    				}

    				.count{
						@include box-sizing(border-box);
    					border: 1px solid $black-10;
    					color: $black-80;
    					display: block;
    					height: 22px;
    					line-height: 20px;
    					font-size: 14px;
    					left: 85px;
    					position: absolute;
    					text-align: center;
    					top: 0;
    					width: 60px;
    				}

    				i{
    					left: 0;
    					position: absolute;
    					top: 0;
    				}
    			}

	    		.facebook a{ 
    				background: $fb-blue;

    				i{
    					font-size: 18px;
    					top: 1px;
    				}
    			}
	    		.twitter a{ 
    				background: $twitter-blue;

    				i{
    					font-size: 20px;
    				}
    			}
	    	}
	    }
	}
}

@-webkit-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-webkit-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-moz-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-ms-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-moz-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-webkit-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@-o-keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
@keyframes uil-ripple {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		margin: 0 0 0 0;
	}
	33% {
		width: 44%;
		height: 44%;
		margin: -22% 0 0 -22%;
		opacity: 1;
	}
	100% {
		width: 88%;
		height: 88%;
		margin: -44% 0 0 -44%;
		opacity: 0;
	}
}
.uil-ripple-css {
	background: none;
	position: relative;
	width: 200px;
	height: 200px;
	clear: both;
	margin: auto;
}
.uil-ripple-css div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	width: 0;
	height: 0;
	opacity: 0;
	border-radius: 50%;
	border-width: 12px;
	border-style: solid;
	-ms-animation: uil-ripple 2s ease-out infinite;
	-moz-animation: uil-ripple 2s ease-out infinite;
	-webkit-animation: uil-ripple 2s ease-out infinite;
	-o-animation: uil-ripple 2s ease-out infinite;
	animation: uil-ripple 2s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
	border-color: #afafb7;
}
.uil-ripple-css div:nth-of-type(2) {
	border-color: #5cffd6;
	-ms-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

// Feeds
// ==========================================================================


// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (max-width: 1280px) {
	.feeds-container { width: 620px; } 	/* 2 columns */
}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {
	.feeds-container { width: 930px; } 	/* 3 columns */
}

@media only screen and (min-width: 1601px) {
	.feeds-container { width: 1240px; }	 /* 4 columns */
}

// End of Media Queries
// ==========================================================================
