@import "template";



// ==========================================================================
// My Page Wrap
// ==========================================================================

.mypage-wrap{
    @include display-flex;
    @include flex-wrap(nowrap);
    @include justify-content(center);
}

.pull-down{
	position: relative;

	& > a{
		@include border-radius(3px); 
		@include box-sizing(border-box);
		background: $white;
		border: 1px solid $black-10;
		color: $black-40;
		display: block;
		font-size: 0;
		height: 40px;
		line-height: 38px;
		padding: 0 40px 0 15px;
		position: relative;

		.option-selected{
			font-size: 14px;
			display: block;
		}

		.keepo-icon{
			font-size: 20px;
			position: absolute;
			right: 10px;
			top: 0;
		}
	}

	.option{
		border: 1px solid $black-10;
		background: $white;
		display: none;
		font-size: 14px;
		position: absolute;
		top: 50px;
		width: 100%;

		ul{
			padding: 3px 0 10px;

			li{

				a{
					@include transition(color .2s linear, background-color .2s linear);
					color: $black-40;
					display: block;
					height: 34px;
					line-height: 34px;
					padding: 0 15px;

					&:hover{
						background: $tosca;
						color: $white;
					}
				}
			}
		}
	}
}

// My Page Wrap
// ==========================================================================



// ==========================================================================
// Left Navigation
// ==========================================================================

.left-navi{
	@include box-sizing(border-box);
	background: $black-80;
	bottom: 0;
	left: 0;
	padding-top: 20px;
	position: fixed;
	top: 60px;
	width: 170px;
}


.left-navi ul{

	li{
		margin-top: 15px;
		position: relative;

		&:first-child{
			margin-top: 0;
		}

		&:hover, &.active{

			a{
				background: $black-90;

				span{
					color: $tosca;
				}
			}
		}

		a{
			@include box-sizing(border-box);
			@include transition(color .2s linear, background-color .2s linear);
			color: $black-40;
			display: block;
			font-size: 0;
			height: 36px;
			line-height: 36px;
			padding: 0 15px;

			i, span{
				display: inline-block;
				vertical-align: middle;
			}

			i{
				color: $white;
				font-size: 20px;

				&::before{
					margin: 0 10px;
				}

				&.icon-my-draft{
					font-size: 18px;
				}
			}

			span{
				font-size: 12px;
				text-transform: uppercase;
			}
		}

		.notif-icon{
			@include border-radius(3px);
			@include translateY(-50%);
			background: $red;
			display: none;
			height: 6px;
			padding: 0;
			position: absolute;
			right: 15px;
			top: 50%;
			width: 6px;
		}

		&.notif-on{

			.notif-icon{
				display: block;
			}
		}
	}
}

// Left Navigation
// ==========================================================================



// ==========================================================================
// My Page Content
// ==========================================================================

.mypage-content{
	@include transition(padding .2s ease);
	min-height: 800px;
    width: 728px;
}

// ==============================================
// My Page Content -> My Issues & My Draft
// ==============================================

.my-issues,
.my-draft{

	.adv{
		margin-bottom: 20px;
	}

	.search-issues{
		border-bottom: 1px solid $black-10;
		margin-bottom: 30px;
		padding-bottom: 15px;

		& > div{
			margin-top: 15px;

			&:first-child{
				margin-top: 0;
			}
		}
	}

	.filter-box{

		& > div{
			color: $black-40;
			padding-left: 20px;
			width: auto;

			&:first-child{
				padding-left: 0;
			}
		}

		.pull-down{
			padding-bottom: 4px;
			z-index: 2;

			& > a{
				@include box-shadow(0px 3px 0px 0px $black-05, 0px 4px 0px 0px $black-10);
				padding: 0 40px 0 20px;
			}

			.option{

				li a{
					padding: 0 20px;
				}

				.custom{
					border-top: 1px solid $black-10;
					padding: 30px 15px 24px;

					.label{
						margin: 0 0 12px;
					}

					.input-box{
						font-size: 0;
						margin-bottom: 14px;

						input[type="text"],
						span{
							display: inline-block;
							font-size: 14px;
							vertical-align: middle;
						}

						input[type="text"]{
							@include box-sizing(border-box);
							@include input-placeholder { color: $black-20; }
							color: $black-80;
							border: 1px solid $black-10;
							height: 40px;
							padding: 0 10px;
							width: 100px;

							&:focus{
								outline: none;
							}
						}

						span{
							text-align: center;
							width: 23px;
						}
					}

					.submit-btn{

						a{
							@include box-sizing(border-box);
							@include border-radius(20px);
							@include transition(color .2s linear, background-color .2s linear);
							background: $white;
							border: 1px solid $tosca;
							color: $tosca;
							display: block;
							height: 40px; 
							line-height: 40px;
							text-align: center;
							width: 100%;

							&:hover{
								background: $tosca;
								color: $white;
							}
						}
					}
				}
			}
		}

		.check-box{
			vertical-align: middle;

			li{
				margin-top: 5px;
				line-height: 18px;

				&:first-child{
					margin-top: 0;
				}

				i{
					@include border-radius(3px); 
					@include box-sizing(border-box);
					border: 2px solid $black-10;
					color: $white;
					height: 18px;
					font-size: 12px;
					line-height: 14px;
					text-align: center;
					width: 18px;

					&::before{
						margin: 0;
					}

					&.icon-check{
						background: $tosca;
						border-color: $tosca;
					}
				}

				i, span{
					display: inline-block;
					vertical-align: middle;
				}

				span{
					color: $black-40;
					font-size: 14px;
					margin-left: 8px;
				}
			}
		}
	}

	.search{

		input[type="text"]{
			@include border-radius(3px); 
			@include box-sizing(border-box);
			@include input-placeholder { color: $black-20; }
			background: $white;
			border: 1px solid $black-10;
			color: $black-80;
			font-size: 14px;
			height: 40px;
			padding: 0 20px;
			width: 100%;

			&:focus{
				outline: none;
			}
		}
	}

	.issues-pagination{
		margin-top: 30px;

		ul{
			text-align: right;
			font-size: 0;

			li{
				@include box-sizing(border-box);
				@include border-radius(3px);
				background: $white;
				border: 1px solid $black-10;
				color: $black-40;
				display: inline-block;
				*display: inline;
				font-size: 14px;
				height: 30px;
				line-height: 28px;
				margin: 0 3px;
				overflow: hidden;
				zoom: 1;

				a{
					@include transition(color .2s linear, background-color .2s linear);
					color: $black-40;
					display: block;
					height: 30px;

					&:hover{
						background: $black-40;
						color: $white;
					}
				}

				&.active, a{
					@include border-radius(3px);
					padding: 0 10px;
				}

				&.active{
					background: $black-02;
				}

				&.ellipsis{
					border-color: $black-02;
					background: transparent;
					padding: 0 3px;
				}

				&.arrow a{
					padding: 0 5px;
				}

				.keepo-icon{
					font-size: 18px;
				}
			}
		}
	}

	.issues-list{
		z-index: 1;

		.total-issues{
			margin-bottom: 10px;

			p{
				color: $black-80;
				font-size: 18px;
				margin: 0;
			}
		}

		ul{
			border-bottom: 1px solid $black-10;

			li{
				@include display-flex;
				@include flex-flow(row wrap);
				background: $white;

				.cell{
					@include box-sizing(border-box);
					border-color: $black-10;
					border-style: solid;
					border-width: 1px 1px 0 0;
					float: left;
					height: 100%;
					padding: 10px;
					min-height: 30px;
				}

				.issues-preview{
					border-left: 1px solid $black-10;
				}

				.issues-action{
					width: 62px;
				}
			}
		}

		.issues-preview{
			@include clearfix();

			.img-box{
				float: left;
				height: 100px;
				overflow: hidden;
				position: relative;
				width: 130px;

				img{
			    	@include translate(-50%, -50%);
			    	font-size: 0;
				    left: 50%;
				    min-height: 100px;
			    	min-width: 130px;
				    position: relative;
				    top: 50%;
				}
			}

			.text-box{

				.issues-title{
					color: $black-80;
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
					margin: 0;
					padding: 0;

					a{
						@include transition(color .2s linear);
						color: $black-80;

						&:hover{
							color: $link-blue;
						}
					}
				}
			}
		}

		.issues-action{

			a{
				@include box-sizing(border-box);
				@include border-radius(50%);
				@include transition(color .2s linear, background-color .2s linear);
				border: 1px solid $black-80;
				background: $white;
				color: $black-80;
				display: block;
				height: 42px;
				position: relative;
				width: 42px;

				&:hover{
					background: $black-80;
					color: $white;
				}

				&.delete{
					border: 1px solid $black-30;
					color: $black-30;

					&:hover{
						background: $black-30;
						color: $white;
					}
				}
			}
			
			.keepo-icon{
				@include translate(-50%, -50%);
				font-size: 20px;
				left: 50%;
				line-height: 1;
				position: absolute;
				top: 50%;
			}
		}
	}
}

// My Page Content -> My Issues & My Draft
// ==============================================



// ==============================================
// My Page Content -> My Issues
// ==============================================

.my-issues{

	.filter-box{
		display: table;
		width: 100%;

		& > div{
			display: table-cell;
		}

		.pull-down{
			width: 254px;
		}

		.check-box{
			vertical-align: middle;

			li{
				margin-top: 5px;
				line-height: 18px;

				&:first-child{
					margin-top: 0;
				}

				i{
					@include border-radius(3px); 
					@include box-sizing(border-box);
					border: 2px solid $black-10;
					color: $white;
					height: 18px;
					font-size: 12px;
					line-height: 14px;
					text-align: center;
					width: 18px;

					&::before{
						margin: 0;
					}

					&.icon-check{
						background: $tosca;
						border-color: $tosca;
					}
				}

				i, span{
					display: inline-block;
					vertical-align: middle;
				}

				span{
					color: $black-40;
					font-size: 14px;
					margin-left: 8px;
				}
			}
		}
	}

	.search{

		input[type="text"]{
			@include border-radius(3px); 
			@include box-sizing(border-box);
			@include input-placeholder { color: $black-20; }
			background: $white;
			border: 1px solid $black-10;
			color: $black-80;
			font-size: 14px;
			height: 40px;
			padding: 0 20px;
			width: 100%;

			&:focus{
				outline: none;
			}
		}
	}

	.issues-list{

		ul{
			border-bottom: 1px solid $black-10;

			li{
				@include display-flex;
				@include flex-flow(row wrap);
				background: $white;

				&.unpublished{
					background: #ffede9;
				}

				.description{
					border-color: $black-10;
					border-style: solid;
					border-width: 1px 1px 0 1px;
					color: $black-80;
					padding: 15px 10px;
					width: 100%;

					p{
						margin: 0;

						&.label{
							font-weight: 600;
							margin-bottom: 5px;
						}

						a{
							@include transition(color .2s linear);
							color: $black-80;

							&:hover{
								color: $tosca;
							}
						}
					}
				}

				.issues-views,
				.issues-shares,
				.issues-responses,
				.issues-action{
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					@include flex-flow(column wrap);

					p{
						color: $black-80;
						font-size: 14px;
						margin: 5px 0 0;

						&:first-child{
							margin-top: 0;
						}

						&.label{
							color: $black-30;
							font-size: 10px;
							text-transform: uppercase;
						}
					}
				}

				.issues-views,
				.issues-shares,
				.issues-responses{
					width: 80px;
				}
			}
		}

		.issues-preview{
			width: 426px;

			.text-box{
				margin: 5px 0 5px 145px;

				header{
					font-size: 0;

					span{
						display: block;
					}
				}
			}

			.label,
			.date{
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			.label{
				color: $orange;
				font-size: 10px;
			}

			.date{
				color: $black-30;
				font-size: 12px;
			}
		}
	}
}

// My Page Content -> My Issues
// ==============================================



// ==============================================
// My Page Content -> My Draft
// ==============================================

.my-draft{

	.search-issues{
		display: table;
		width: 100%;

		& > div{
			display: table-cell;
			padding-left: 20px;
			width: auto;

			&:first-child{
				padding-left: 0;
			}

			&.filter-box{
				width: 254px;
			}
		}
	}

	.filter-box{

		& > div{
			color: $black-40;
			padding-left: 20px;
			width: auto;

			&:first-child{
				padding-left: 0;
			}
		}
	}

	.issues-list{

		.issues-action{
			@include display-flex;
			@include flex-flow(column wrap);
			@include justify-content(center);

			p{
				color: $black-80;
				font-size: 14px;
				margin: 5px 0 0;

				&:first-child{
					margin-top: 0;
				}

				&.label{
					color: $black-30;
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}

		.issues-preview{
			width: 666px;

			.text-box{
				@include box-sizing(border-box);
				display: block;
				padding: 5px 0 5px 145px;
				height: 100%;
				width: 100%;

				article{
					@include display-flex;
					@include align-items(center);
					height: 100%;
				}
			}
		}

		.issues-action{
			@include justify-content(center);
		}
	}
}

// My Page Content -> My Draft
// ==============================================



// ==============================================
// My Page Content -> Settings
// ==============================================

.settings{

	.setting-content{
		margin-top: 50px;

		&:first-child{
			margin-top: 0;
		}

		.title{
			background: $black-80;
			color: $white;
			height: 40px;
			font-size: 16px;
			font-weight: 600;
			line-height: 40px;
			margin-bottom: 25px;
			padding: 0 15px;
		}
	}

	.form-box{

		.note{
			
			p{
				color: $black-40;
				font-size: 14px;
				margin: 0;
			}
		}

		form{

			.input-area{
				@include clearfix();
			}

			.input-box{
				float: left;
				width: 528px;
			}

			.upload-photo{
				padding-left: 578px;
			}

			.button-area{

				ul{
					@include box-sizing(border-box);
					padding-right: 200px;
				}
			}
		}

		.input-box{

			.label{
				color: $black-80;
				line-height: 1;
				font-size: 12px;
				margin-bottom: 10px;
				text-transform: uppercase;
			}

			input,
			textarea{
				@include border-radius(3px);
				@include box-sizing(border-box);
				@include input-placeholder { color: $black-20; }
				border: 1px solid $black-10;
				font-size: 14px;
				width: 100%;

				&:focus{
					outline: none;
				}
			}

			input[type="text"],
			input[type="password"]{
				color: $black-80;
				height: 40px;
				padding: 0 15px;

				&:disabled{
					background: $white;
					color: $black-20;
				}
			}

			textarea{
				height: 114px;
				padding: 15px;
				resize: none;
			}

			& > div[class^="input"]{
				margin-top: 15px;

				&:first-child{
					margin-top: 0;
				}

				&.double-input{

					&::after{
						clear: both;
						content: ".";
						display: block;
						height: 0;
						line-height: 0;
						visibility: hidden;
					}

					& > div{
						@include box-sizing(border-box);
						float: left;
						padding: 0 14px 0 0;
						width: 50%;

						&:nth-child(even){
							padding: 0 0 0 14px;
						}
					}
				}
			}

			.error{

				input,
				textarea{
					border: 1px solid $red;
				}
			}

			.input-new-password{
				margin-bottom: 10px;
			}
		}

		.upload-photo{

			.photo{

				a{
					@include align-items(center);
					@include border-radius(50%); 
					@include box-sizing(border-box);
					@include display-flex;
					@include flex-flow(column wrap);
					@include justify-content(center);
					background: $white;
					border: 2px dashed $black-20;
					color: $black-40;
					font-size: 14px;
					height: 150px;
					width: 150px;
				}

				.keepo-icon{
					font-size: 30px;
					margin-bottom: 5px;
				}
			}

			.button{
				margin-top: 20px;

				a{
					@include border-radius(20px); 
					background: $black-30;
					color: $white;
					display: block;
					font-size: 12px;
					font-weight: 600;
					height: 40px;
					line-height: 40px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}

	.button-area{
		margin-top: 40px;

		ul{
			font-size: 0;

			li{
				@include box-sizing(border-box);
				display: inline-block;
				width: 50%;

				&:nth-child(2n+1){
					padding: 0 14px 0 0;
				}

				&:nth-child(2n+2){
					padding: 0 0 0 14px;
				}

			}
		}

		button{
			@include border-radius(3px); 
			@include box-shadow(0px 2px 0px 0px $black-40);
			@include transition(color .2s linear, background-color .2s linear);
			background: $black-30;
			border: 0;
			color: $white;
			font-size: 14px;
			font-weight: 600;
			height: 40px;
			text-transform: uppercase;
			width: 100%;

			&:focus{
				outline: none;
			}

			&:hover{
				background: $black-40;
			}

			&:nth-child(n+3){
				margin-top: 15px;
			}

			&[type="submit"]{
				@include box-shadow(0px 2px 0px 0px $dark-tosca);
				background: $tosca;

				&:hover{
					background: $dark-tosca;
				}
			}
		}
	}
}

// My Page Content -> Settings
// ==============================================




// My Page Content
// ==========================================================================



// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (max-width: 1280px) {
	.mypage-content{
		padding-left: 170px;
	}
}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1601px) {
}

// End of Media Queries
// ==========================================================================
