@import "template";

// ==========================================================================
// profile
// ==========================================================================

.profile-header{
    @include display-flex;
    @include flex-wrap(nowrap);
    @include justify-content(center);
    height: 250px;
    margin-bottom: 15px;
    overflow: hidden;

	.cover-area{
		@include box-sizing(border-box);
		padding-right: 10px;

		.cover{
			height: 190px;
			position: relative;

			.img{
				height: 190px;
				overflow: hidden;
				position: relative;
				width: 100%;

				img{
					@include translate(-50%, -50%);
					left: 50%;
					position: absolute;
					top: 50%;
					width: 100%;
				}
			}
		}

		.quick-action{
			background: $white;
			display: table;
			width: 100%;

			& > div{
				@include box-sizing(border-box);
				border-bottom: 1px solid $black-10;
				display: table-cell;
				height: 60px;
				vertical-align: middle;
				width: auto;
			}

			.navigation,
			.search{
				border-left: 1px solid $black-10;
			}

			.navigation{
				font-size: 0;
				padding: 0 30px;
				width: 210px;

				a{
					@include box-sizing(border-box);
					@include transition(border-color 0.3s ease, color 0.3s ease);
					border-bottom: 6px solid $white;
					color: $black-80;
					display: inline-block;
					font-size: 16px;
					line-height: 59px;
					height: 59px;
					text-align: center;
					width: 50%;

					&:hover,
					&.active{
						border-color: $tosca;
						color: $tosca;
					}
				}
			}

			.follow{
				font-size: 0;
				padding: 0 15px;
				text-align: right;
				vertical-align: middle;
				width: 260px;

				a,
				span,
				.keepo-icon{
					display: inline-block;
					vertical-align: middle;
				}

				a{
					@include box-shadow($dark-tosca 0 2px 0);
					@include transition(background-color .3s linear);
					background: $tosca;
					color: $white;
					font-size: 0;
					height: 28px;
					line-height: 28px;
					text-align: center;
					width: 140px;

					&:hover{
						background: $dark-tosca;
					}

					span{
						font-size: 12px;
						font-weight: 800;
						text-transform: uppercase;
					}

					.keepo-icon{
						font-size: 18px;

						&::before{
							margin: 0 5px 0 0;
						}
					}
				}

				.total-follower{
					@include box-shadow($black-10 0 2px 0);
					@include box-sizing(border-box);
					border-color: $black-10;
					border-style: solid;
					border-width: 1px 1px 0 0;
					color: $black-30;
					font-size: 14px;
					height: 28px;
					line-height: 26px;
					padding: 0 15px;
				}
			}

			.search{
				border-right: 1px solid $black-10;

				input[type="text"]{
					@include box-sizing(border-box);
					@include input-placeholder { color: $black-20; }
					border: none;
					color: $black-80;
					height: 59px;
					font-size: 16px;
					padding: 0 20px;
					width: 100%;

					&:focus{
						outline: none;
					}
				}
			}
		}

		/*

		.quick-action{
			background: $white;
			display: table;
			width: 100%;

			& > div{
				@include box-sizing(border-box);
				border-color: $black-10;
				border-style: solid;
				border-width: 0 0 1px 1px;
				display: table-cell;
				height: 59px;
				width: auto;
			}

			.follow{
				font-size: 0;
				padding: 0 20px;
				vertical-align: middle;
				width: 310px;

				a,
				span,
				.keepo-icon{
					display: inline-block;
					vertical-align: middle;
				}

				a{
					@include box-shadow($dark-tosca 0 2px 0);
					@include transition(background-color .3s linear);
					background: $tosca;
					color: $white;
					font-size: 0;
					height: 28px;
					line-height: 28px;
					text-align: center;
					width: 140px;

					&:hover{
						background: $dark-tosca;
					}

					span{
						font-size: 12px;
						font-weight: 800;
						text-transform: uppercase;
					}

					.keepo-icon{
						font-size: 18px;

						&::before{
							margin: 0 5px 0 0;
						}
					}
				}

				.total-follower{
					@include box-shadow($black-10 0 2px 0);
					@include box-sizing(border-box);
					border-color: $black-10;
					border-style: solid;
					border-width: 1px 1px 0 0;
					color: $black-30;
					font-size: 14px;
					height: 28px;
					line-height: 26px;
					padding: 0 15px;
				}
			}


			.search{
				border-right: 1px solid $black-10;

				input[type="text"]{
					@include box-sizing(border-box);
					@include input-placeholder { color: $black-20; }
					border: none;
					color: $black-80;
					height: 59px;
					font-size: 16px;
					padding: 0 20px;
					width: 100%;

					&:focus{
						outline: none;
					}
				}
			}
		}

		*/
	}

	.profile-detail{
		@include box-sizing(border-box);
		padding: 0 35px;
		position: absolute;
		top: 20px;
		width: 100%;

		.author-thumb{
			@include box-sizing(border-box);
			width: 120px;

			a{
				@include box-sizing(border-box);
				@include border-radius(50%);
				border: 3px solid $white;
				display: block;
				overflow: hidden;
				height: 114px;
				width: 114px;
			}

			img{
				height: auto;
			    max-height: 100%;
			    max-width: 100%;
			    width: auto;
			}
		}

		.info-wrap{
			color: $white;
			font-size: 30px;
			font-weight: 800;
			line-height: 35px;
			margin-top: 5px;
			height: 35px;
			overflow: hidden;
		}
	}

	.profile-adv{
		background: $black-80;
		display: block;
		height: 250px;
		width: 310px;
	}

}

// profile
// ==========================================================================


// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (max-width: 1280px) {
	.cover-area { width: 620px; } 	/* 2 columns */
}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {
	.cover-area { width: 930px; } 	/* 3 columns */
}

@media only screen and (min-width: 1601px) {
	.cover-area { width: 1240px; }	 /* 4 columns */
}

// End of Media Queries
// ==========================================================================
